---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
PointerAlignment: Left
QualifierAlignment: Right
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak

IncludeBlocks: Regroup
LineEnding: LF
SeparateDefinitionBlocks: Always
WrapNamespaceBodyWithEmptyLines: Always
BreakAfterAttributes: Always

AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
