Checks: >
  *,
  -llvmlibc-*,
  -altera-*,
  -fuchsia-*,
  -llvm-header-guard,
  -clang-diagnostic-pragma-once-outside-header,
  -readability-identifier-length,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-macro-usage,
  -misc-no-recursion,
