---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
PointerAlignment: Left
QualifierAlignment: Right

IncludeBlocks: Regroup
LineEnding: LF

AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Right
AlignConsecutiveShortCaseStatements:
  Enabled: true
BinPackArguments: false
BinPackParameters: false
BreakAfterAttributes: Always
KeepEmptyLines:
  AtStartOfBlock: false
  AtStartOfFile: false
SeparateDefinitionBlocks: Always
WrapNamespaceBodyWithEmptyLines: Always
